/*  CIS 371 - Semester Project
*   Ron Patrick
*   Pig Dice 3D
*/

body {
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}

#info a, .button {
    color: rgba(161, 0, 0, 0.51);
    color: #bebebe;
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

#hHeader {
    font-weight: bold;
    font-size: large;
}
.dg .title{
    text-align: center;
    font-weight: bold;
}

#gameMsg {
    //font-weight: bold;
    //line-height: 500px;
    //color: rgba(255, 0, 0, 0.59);
    color: white;
}